.App-header {
  min-height: 100vh;
  min-width: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  background-color: #111;

  /* background:
  linear-gradient(to right,  
    red,            
    orange,          
    yellow,          
    green,           
    blue,            
    indigo,          
    violet);         */
}

.App-header button {
  padding: 1rem 2rem;
  font-size: 1.2rem;
  margin-top: 2rem;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #61dafb;
  color: #282c34;
}

.App-header button:hover {
  background-color: #35a7ff;
}

